.container {
  display: flex;
  flex-direction: row;
  width: auto;
  gap: auto;
}

.form {
  display: flex;
  flex-direction: column;
  width: 12rem;
  margin-left: 10px;
  margin-top: 10px;
}

.formBorder {
  display: flex;
  justify-content: float;
  margin-top: auto;
  margin-left: 15px;
  height: 300px;
  border: 1px solid #000;
}

.placeholders {
  display: flex;
  flex-direction: row;
  width: 12rem;
  gap: 13px;
}

.h4LeftTop {
  margin-left: 100px;
  margin-top: 5px;
}

.empData {
  margin-left: 75px;
}

.addButton {
  width: 6rem;
  margin-left: 130px;
}

.hr {
  width: 380px;
  margin-left: 15px;
}

.showOption {
  margin-left: 150px;
}

.choiceButtons {
  display: flex;
  flex-direction: column;
}

.rowButtons {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 20px;
}

.leftButtons {
  width: 100px;
  margin-left: 40px;
}

.followingButtons {
  width: 100px;
  margin-left: 5px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
}

.empList {
  margin-left: 100px;
}

.outputContainer {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-left: 15px;
  margin-top: 1px;
  height: auto;
  min-height: 200px;
  border: 1px solid #000;
}

.empDataOutput {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px;
  height: 150px;
  border: 1px solid #000;
} 